 .my-alert{
    padding : 20px;
    font-size : 25px;
    background-color: #eeeeee;
    width: 100%;
    margin : auto;
 }
 .my-alert p{ 
    margin-bottom: 0;
    
 }
 .my-alert2{
     @extend .my-alert;
     background-color: #ffe591;;
 }

 .wow-enter{
    opacity: 0;
 }
 
 .wow-enter-active{
    opacity: 1;
    transition: all 500ms;
 }
 .divPadding{
    padding: 20px
 }